{% extends 'layout.html' %}

{% block body %}
{% raw %}
<div class="sigin-page-content">
    <h2>{{site}}</h2>
</div>
{% endraw %}
{% endblock %}

{% block script %}
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            site: "哈哈哈哈1",
            site2: "哈哈哈哈2",
            url: "www.runoob.com",
            alexa: "10000",
            pathname: ''
        },
        methods: {
            details: function() {
                return  this.site + " - 学的不仅是技术，更是梦想！";
            }
        },
        created: function() {
            console.log(1)
            console.log(window.location.pathname);
            this.pathname = window.location.pathname
            // axios({
            //     methods:"get",
            // 	url: '/html',
            // 	params: {}
            // }).then(res=>{
            //     console.log(res.data.template);
                
            // }).catch(err=>{
            //     console.log(err);
            // })
        }
    })
    </script>
    {% endblock %}